#heading-bar {
  height: 100px;
  width: 100%;
}
#body-elements {
  display: flex;
}
#tool-bar {
  height: 100%;
  width: 300px;
}
#florida-map {
  position: absolute;
  min-width: 1200px;
  width: -webkit-calc(100% - 300px);
  width:    -moz-calc(100% - 300px);
  width:         calc(100% - 300px);
  left: 300px;
}
#overlay-grid {
  position: absolute;
  height: 750px;
  min-width: 1200px;
  width: -webkit-calc(100% - 300px);
  width:    -moz-calc(100% - 300px);
  width:         calc(100% - 300px);
  left: 300px;
  height: 100%;
  top: 100px;
}
td {
 text-align: left;
 vertical-align: top;
 color: grey;
 width: 50px;
 border: 1px solid grey;
}
