#heading-bar {
  height: 100px;
  width: 100%;
}
#body-elements {
  display: flex;
}
#tool-bar {
  height: 750px;
  width: 300px;
}
#florida-map {
  position: absolute;
  float: none;
  overflow: hidden;
  left: 300px;
}
#overlay-grid {
  position: absolute;
  height: 750px;
  width: 1200px;
  left: 300px;
  top: 100px;
}
td {
 text-align: left;
 vertical-align: top;
 color: grey;
 width: 50px;
 border: 1px solid grey;
}
@media only screen and (max-width: 1500px) {
  #florida-map {
    width: 1200px;
    min-width: 1200px;
  }
}
