#heading-bar {
  height: 100px;
  min-width: 1500px;
  border-bottom: 1px solid black;
}
#navbar {
  font-family: "Verdana", "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;  
  position: absolute;
  right: 100px;
  top: 63px;
}
#header-symbol {
  height: 75px;
  width: 75px;
  top: 10px;
  left: 15px;
  position: absolute;

}
#title {
  font-family: "Verdana", "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding-top: 30px;
  padding-left: 105px;
  display: inline-block;
}
#body-elements {
  display: flex;
  width: 100%;
  height: 100%;
}
.pointer {
  cursor: pointer;
}
#marine-conservation-map, #number-turbines-label, #basic-grid, #bathymetry-map, #power-output, #per-turbine-info, #annual-yield, #annual-info, #conversion-image, #number-hours, #capacity-factor, #number-turbines, #county-map-wrap, #county-info {
  display: none;
}
.info-buttons {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  float: right;
}
#info-button-turbine {
  position: absolute;
  top: 299px;
  left: 259px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 14px;
  margin-top: -2px;
  margin-right: 15px;
  float: right;
}
#info-button-power {
  position: absolute;
  left: 259px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 14px;
  margin-top: -2px;
  margin-right: 15px;
  float: right;
  top: 584px;
}
.square-button {
  display: inline-flex;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 100%;
  height: 100%;
  color: gray;
}
 .square-button, .square-button:hover, .square-button:focus, .square-button:active {
  text-decoration: none;
  color: inherit;
 }
#tool-bar {
  min-height: 750px;
  height: -webkit-calc((100vw - 315px)/1.6);
  height:    -moz-calc((100vw - 315px)/1.6);
  height:         calc((100vw - 315px)/1.6);
  width: 300px;
  border-right: 1px solid black;
}
.tool-bar-header {
  border-bottom: 1px solid black;
  height: 25px;
  text-align: center;
}

.nav {
  font-size: 12px;
  padding-bottom: -1px;
}
#turbine-header {
  border-top: 1px solid black;
  height: 35px;
}

#tool-bar-turbine {
  position: absolute;
  width: 300px;
  top: 335px;
  left: -10px;
}
#radius {
  position: absolute;
  top: 335px;
  width: 80px;
  left: 30px;
  font-size: 12px;
}
#air-density {
  position: absolute;
  top: 440px;
  width: 80px;
  font-size: 12px;
  left: 30px;
}

#power-coefficient {
  position: absolute;
  font-size: 12px;
  top: 330px;
  width: 80px;
  left: 200px;
}
#hub-height {
  position: absolute;
  font-size: 12px;
  top: 440px;
  left: 205px;
}
#equation {
  position: absolute;
  top: 540px;
  left: 35px;
}
#power-select-info {
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
  color: grey;
}
#conversion-image {
  position: absolute;
  top: 615px;
  left: 40px;
  width: 220px;
  height: 200px
}
#power-output {
  position: absolute;
  top: 615px;
  width: 300px;
  text-align: center;
  font-weight: bold;
}
#per-turbine-info {
  position: absolute;
  top: 647px;
  width: 300px;
  font-size: 12px;
  text-align: center;
}
#annual-yield {
  position: absolute;
  top: 745px;
  width: 300px;

  text-align: center;
  font-weight: bold;
}
#annual-info {
  position: absolute;
  top: 777px;
  font-size: 12px;
  width: 300px;
  text-align: center;
}
.glyphicon {
  float: right;
}
#power-header {
  border-top: 1px solid black;
  height: 35px;
  margin-top: 250px;
}
#number-turbines-label {
  position: absolute;
  font-size: 11px;
  top: 820px;
  left: 200px;
}
#number-turbines-selection {
  position: absolute;
  font-size: 11px;
  top: 813px;
  width: 90px;
  left: 105px;
}
#capacity-factor {
  position: absolute;
  font-size: 11px;
  top: 685px;
  width: 90px;
  left: 20px;
}
#number-hours {
  position: absolute;
  font-size: 11px;
  top: 685px;
  width: 90px;
  left: 190px;
}
.florida-map {
  position: absolute;
  min-width: 1200px;
  width: -webkit-calc(100vw - 315px);
  width:    -moz-calc(100vw - 315px);
  width:         calc(100vw - 315px);
  left: 300px;
}
.overlay-grid {
  position: absolute;
  min-width: 1200px;
  width: -webkit-calc(100vw - 315px);
  width:    -moz-calc(100vw - 315px);
  width:         calc(100vw - 315px);
  min-height: 750px;
  height: -webkit-calc((100vw - 315px)/1.6);
  height:    -moz-calc((100vw - 315px)/1.6);
  height:         calc((100vw - 315px)/1.6);
  left: 300px;
  top: 100px;
}
td {
 vertical-align: top;
 text-align: left;
 color: gray;
 width: 4.166666%;
 height: -webkit-calc(((100vw - 315px)/1.6)/15);
 height:    -moz-calc(((100vw - 315px)/1.6)/15);
 height:         calc(((100vw - 315px)/1.6)/15);
 border: 1px solid gray;
 padding: none;
 margin: none;
   white-space: nowrap;
}
path {
  stroke: #ffffff;
  stroke-width: 1px;
  stroke-linejoin: round;
}
strong {
  color: dimgray!important;
}
#county-map-wrap {
  position: absolute;
  min-width: 1200px;
  width: -webkit-calc(100vw - 315px);
  width:    -moz-calc(100vw - 315px);
  width:         calc(100vw - 315px);
  min-height: 750px;
  height: -webkit-calc((100vw - 315px)/1.6);
  height:    -moz-calc((100vw - 315px)/1.6);
  height:         calc((100vw - 315px)/1.6);
  left: 300px;
  top: 100px;
    border-top: 1px solid grey;
  border-left: 1px solid grey;
}
#county-info {
  position: absolute;
  top:740px;
  left: 300px;
  font-size: 13px;
  padding: 10px;
}

